{% extends 'Modules/layout.html.twig' %}

{% block head %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/grid-fixe.css">
{% endblock %}

{% block body %}
	{% include 'Modules/_admin_header.html.twig' %}
	<div class="upload-container">
		<ul>
			{% for error in errors %}
				<li>
					{{ error }}</li>
			{% endfor %}
		</ul>
		<form method="post" enctype="multipart/form-data" class="admin-file-form">
			<label for="imageUpload">Ajouter une photo</label>
			<input type="file" name="avatar" id="imageUpload"/>
			<label for="destination">J'enregistre :</label>
			<input type="hidden" name="destination" value="flash"/>
			<button name="send" class="cta">Send</button>
		</form>
	</div>
	{% for grid in grids %}
		<div class="grid-fixe">
			<img class="grid-first" src="/assets/Images/grid-fixe/first/{{ grid[0] }}">
			<img class="grid-second" src="/assets/Images/grid-fixe/second/{{ grid[1] }}">
			<img class="grid-third" src="/assets/Images/grid-fixe/third/{{ grid[2] }}">
			<img class="grid-fourth" src="/assets/Images/grid-fixe/fourth/{{ grid[3] }}">
			<img class="grid-fifth" src="/assets/Images/grid-fixe/fifth/{{ grid[4] }}">
		</div>
	{% endfor %}

{% endblock %}
{# <div class ="image-container">
	        {% for image in images %}
	            <div class ="each-image-container">
	            <div class="overlay">
	                <img src="/assets/Images/flash/{{ image }}" alt="{{ image }}" class="admin-image">
	                <form action="" method="POST" class= "image-form">
	                    <input type="hidden" name="filename" value="{{ image }}">
	                    <button type="submit" name="delete" class ="cta-image">Delete</button>
	                </form>
	                </div>
	            </div>
	        {% endfor %}     #}
