{% set baseImagePath = 'assets/Images/header-navbar-footer' %}

<header>
  <a href="/">
    <picture>
      <source srcset="{{ baseImagePath }}/potifleurnavbar.avif 1800w, {{ baseImagePath ~ '/half/potifleurnavbar.avif' }} 1000w, {{ baseImagePath ~ '/fourth/potifleurnavbar.avif' }} 600w" type="image/avif" sizes="10vw" />
      <img src="{{ baseImagePath }}/potifleurnavbar.png" alt="accueil" />
    </picture>
    <img />
  </a>
  <ul>
    <li>
      <a href="/tattoo">
        <picture>
          <source srcset="
          {{ baseImagePath ~ (url == '/tattoo' ? '/tattoo/header_tattoo-selec.avif' : '/tattoo/header_tattoo.avif') }} 1800w,
          {{ baseImagePath ~ (url == '/tattoo' ? '/tattoo/half/header_tattoo-selec.avif' : '/tattoo/half/header_tattoo.avif') }} 1000w,
          {{ baseImagePath ~ (url == '/tattoo' ? '/tattoo/fourth/header_tattoo-selec.avif' : '/tattoo/fourth/header_tattoo.avif') }} 600w" type="image/avif" sizes="25vw" /> <img src="{{ baseImagePath ~ (url == '/tattoo' ? '/tattoo/header_tattoo-selec.png' : '/tattoo/header_tattoo.png') }}" alt="Tattoo" />
        </picture>
      </a>
    </li>
    <li>
      <a href="/illustration">
        <picture>
          <source srcset="
          {{ baseImagePath ~ (url == '/illustration' ? '/illustration/header_illu-selec.avif' : '/illustration/header_illu.avif') }} 1800w,
          {{ baseImagePath ~ (url == '/illustration' ? '/illustration/half/header_illu-selec.avif' : '/illustration/half/header_illu.avif') }} 1000w,
          {{ baseImagePath ~ (url == '/illustration' ? '/illustration/fourth/header_illu-selec.avif' : '/illustration/fourth/header_illu.avif') }} 600w" type="image/avif" sizes="25vw" /> <img src="{{ baseImagePath ~ (url == '/  illustration' ? '/illustration/header_illu-selec.png' : '/illustration/header_illu.png') }}" alt="Illustration" />
        </picture>
      </a>
    </li>
    <li>
      <a href="/objets">
        <picture>
          <source srcset="{{ baseImagePath }}{{ url == '/objets' ? '/objets/header_objet-selec.avif' : '/objets/header_objet.avif' }} 1800w,
          {{ baseImagePath ~ (url == '/objets' ? '/objets/half/header_objet-selec.avif' : '/objets/half/header_objet.avif') }} 1000w,
          {{ baseImagePath ~ (url == '/objets' ? '/objets/fourth/header_objet-selec.avif' : '/objets/fourth/header_objet.avif') }} 600w" alt="objet" type="image/avif" sizes="25vw" /> <img src="{{ baseImagePath }}{{ url == '/objets' ? '/objets/header_objet-selec.png' : '/objets/header_objet.png' }}" alt="Objets" />
        </picture>
      </a>
    </li>
  </ul>
</header>
