{% extends 'Modules/layout.html.twig' %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/illustration.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fullScreen.css">
{% endblock %}

{% block content %}

	<div class="front-gallery-container" >
	{% if folder is defined  and folder =='tattoo' %}
		<a href="assets/Images/flashbooktest_150dpi.pdf" target="_blank" id="flashbook-link">
			<img src="assets\Images\lienflashbook.avif" alt="flashbook" class="flashbook flashbook-link" id="flashbook">
		</a>		
		<div class="grid" id="grid">
{% for image in images %}
    {% set imagePathBig = "/assets/Images/" ~ folder ~ "/" ~ image %}
    {% set imagePathMedium = "/assets/Images/" ~ folder ~ "/half/" ~ image %}
    {% set imagePathSmall = "/assets/Images/" ~ folder ~ "/fourth/" ~ image %}

    <img srcset="{{ imagePathBig }} 1800w, 
	{{ imagePathMedium }} 1000w, 
	{{ imagePathSmall }} 400w" 
	sizes = "30vw"
	alt= "{{ image }}" 
	class="grid-image fade-in pointer" >
{% endfor %}
		{% else %}
		<div class="masonryContainer" id="masonryContainer">
		<div class="row" id="row-illustration">
			</div>
			</div>
		{% endif %}
	</div>
    <div id="images" data-images="{{ images|json_encode }}"></div>

	{% block javascripts %}
		{{ parent() }}
			<script src="assets/scripts/imageClick.js"></script>
	{% if folder is defined and folder == 'illustration' %}
			<script src="assets/scripts/illustration_masonry.js" type="module"></script>
			{% else %}
				<script>
				getImages("grid-image")
				handleImageClick()
				</script>
		{% endif %}
	{% endblock %}
{% endblock %}
